<!DOCTYPE html>
<html>
    <head>
        <title>Shopibook</title>
        <meta charset="UTF-8">
        <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
    </head>
    <body>
        <div class=container>
            <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://woolsa01.pythonanywhere.com">Spotibook</a>
                </div>
            </div>
            </nav>
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    <div class="row form-inline">
                        <div class="form-group">
                            <h4>Your Top Songs on Spotify:</h4>
                            <hr>
                            <ol>
                            {% for item in sorted_array%}
                            <li> {{ item }} </li>
                            {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div id=fbbtn>
            <fb:login-button scope="public_profile,email,publish_actions" onlogin="checkLoginState();">Login to Facebook to Post Your Top Songs!</fb:login-button>
            </div>

            <div id=status>
            </div>
            <br>
            <div id=postbtn>
            <button onclick=post()>Post Your Top Songs on Facebook!</button>
            </div>
        </div>
        <script src=js/facebook.js type=text/javascript></script>
    </body>
</html>